.project {
	height: min-content;
	width: 100%;
	position: relative;
	overflow: visible;
	transition: height 0.3s;
	.after {
		height: 3000px;
		overflow: hidden;
		position: relative;
	}
	.container_list {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 110vh;
		.deactop_logo {
			position: absolute;
			display: flex;
			align-items: center;
			height: 110vh;
			z-index: 0;
		}
		.list_project {
			position: relative;
			height: 110vh;
			width: 1200px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			overflow-y: hidden;
			scrollbar-width: none;
			z-index: 1;
			.rigth,
			.left {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 560px;
				.image {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 20px;
				}
			}
			.rigth {
				.carmax {
					margin-bottom: 445px;
					width: 560px;
					height: 360px;
				}
				.turn {
					margin-bottom: 170px;
					width: 440px;
					height: 440px;
				}
				.bank {
					margin-bottom: 330px;
					width: 406px;
					height: 485px;
				}
				.trend {
					width: 560px;
					height: 360px;
				}
			}
			.left {
				.end {
					margin-top: 407px;
					width: 560px;
					height: 360px;
				}
				.m_carmax {
					margin-top: 238px;
					width: 440px;
					height: 440px;
				}
				.gen {
					margin-top: 370px;
					width: 560px;
					height: 360px;
				}
				.video {
					margin-top: 450px;
					margin-bottom: 140px;
					width: 440px;
					height: 440px;
				}
			}
		}
	}
	.container_mobile{
		display: none;
	}
}


@media (max-width: 1024px) {
	.project{
		.container_list{
			display: none;
		}
		.after{
			display: none;
		}
}
}