.create {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.block_one{
		padding-top: 14.4vh;
		padding-bottom: 60px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-content: center;
		z-index: 1;
		width: 100%;
		transform: translateY(150px);
		transition: transform .2s;
		background-color: #f7f6f6;
		.container_title{
			max-width: 1205px;
			margin: 0 auto;
			transition: opacity .3s;
			h1 {
				color: #000;
				font-family: BOWLER;
				font-size: 68px;
				font-style: normal;
				font-weight: 400;
				line-height: 110%; /* 74.8px */
				strong {
					color: #a7a7a7;
					font-family: BOWLER;
					font-size: 68px;
					font-style: normal;
					font-weight: 400;
					line-height: 110%;
				}
			}
		}
	}
	.block_two{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		transition: height .3s;
		z-index: 0;
		.block_video{
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
	.block_three{
		position: relative;
		display: flex;
		flex-direction: column;
		align-content: center;
		z-index: 1;
		height: min-content;
		width: 100%;
		height: min-content;
    	overflow: visible;
		transform: translateY(-100px);
		transition: transform .3s;
		background-color: #f7f6f6;
		.goal {
			padding-top: 150px;
			position: sticky;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 50px;
			max-width: 1200px;
			top: 0;
			left: 0;
			margin: 0 auto;
			h2 {
				color: #000;
				font-family: BOWLER;
				font-size: 78px;
				font-style: normal;
				font-weight: 400;
				line-height: 110%; /* 85.8px */
				text-transform: uppercase;
				strong {
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: #000;
					@supports not (-webkit-text-stroke: 1px) {
						text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
							1px 1px 0 #000;
					}
					color: #fff;
				}
			}
			.goal_container {
				display: flex;
				align-items: center;
				gap: 85px;
				.animi {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 441px;
					height: 487.8px;
					position: relative;
					z-index: 1;
					&::after {
						content: '';
						width: 441px;
						height: 487.8px;
						border-radius: 40px;
						border: 1px solid #b7b7b7;
						position: absolute;
						z-index: 100;
					}
				}
				.result {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 70px;
					.result_items {
						display: flex;
						align-items: center;
						gap: 30px;
						.result_item {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 20px;
							padding: 0 30px;
							width: 234px;
							&:first-child {
								border-right: 1px solid #d1d1d1;
							}
							.item_text {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 2px;
								h3 {
									color: #000;
									font-family: BOWLER;
									font-size: 24px;
									font-style: normal;
									font-weight: 400;
									line-height: 110%; /* 26.4px */
									text-transform: uppercase;
								}
								p {
									color: #000;
									font-family: Inter;
									font-size: 15px;
									font-style: normal;
									font-weight: 400;
									line-height: 110%; /* 16.5px */
								}
							}
							.progress {
								color: #000;
								font-family: BOWLER;
								font-size: 48px;
								font-style: normal;
								font-weight: 400;
								line-height: 110%; /* 52.8px */
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
		.after{
			height: 200px;
		}
	}
}

@media (max-width: 1024px) {
	.create{
		.block_one{
			padding-top: 0;
			transform: translateY(125px) !important;
			.container_title{
				padding: 0 24px;
				opacity: 1 !important;
				h1{
					font-size: 54px;
					strong{
						font-size: 54px;
					}
				}
			}
		}
		.block_three{
			transform: translateY(-125px) !important;
			.goal{
				padding-top: 200px;
				gap: 42px;
				h2{
					padding: 0 24px;
					font-size: 54px;
				}
				.goal_container{
					flex-direction: column;
					width: 100%;
					gap: 60px;
				}

			}
		}
		.after{
			height: 0px;
		}
	}
}

@media (max-width: 500px) {
	.create{
		.block_one{
			padding: 0;
			margin-top: 90px;
			padding-bottom: 30px;
			height: 160px;
			transform: translateY(0) !important;
			.container_title{
				padding: 0 16px;
				width: calc(100% - 32px);
				h1{
					font-size: 32px;
					strong{
						font-size: 32px;
					}
				}
			}
		}
		.block_two{
			height: 230px !important;
		}
		.block_three{
			transform: translateY(0) !important;
			.goal{
				padding-top: 50px;
				padding-bottom: 90px;
				gap: 30px;
				h2{
					padding: 0 16px;
					width: calc(100% - 32px);
					font-size: 32px;
				}
				.goal_container{
					width: 100%;
					.animi{
						width: 100%;
						&::after{
							width: 100%;
							border: none;
						}
					}
					.result{
						gap: 50px;
						.result_items{
							flex-direction: column;
							gap: 50px;
							.result_item{
								border: none !important;
							}
						}
					}
				}
			}
		}
	}
}