.loader_container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #F6F6F6;
	z-index: 1000;
	.loader_bar{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 120px;
		width: calc(100% - 240px);
		min-height: calc(100% - 240px);
		p{
			color: #000;
			font-family: Inter;
			font-size: 230px;
			font-style: normal;
			font-weight: 800;
			line-height: 100%; /* 230px */
		}
	}
}

@media (max-width: 1024px){
	.loader_container{
		.loader_bar{
			p{
				font-size: 172px;
			}
		}
	}
}


@media (max-width: 550px){
	.loader_container{
		.loader_bar{
			padding: 20px;
			width: calc(100% - 40px);
			min-height: calc(100% - 40px);
			p{
				font-size: 72px;
			}
		}
	}
}