header {
	position: absolute;
	width: 1200px;
	nav {
		display: flex;
		align-items: center;
		margin-left: auto;
		padding: 23px 3px;
		width: 100%;
	}
}

@media (max-width: 1024px) {
	header{
		width: 100%;
		nav{
			padding: 24px;
			width: calc(100% - 48px);
		}
	}
}