

@font-face {
	font-weight: 400;
	font-family: 'BOWLER';
	font-style: normal;
	font-display: swap;
	src: local('BOWLER'), url('./fonts/BOWLER.otf') format('opentype');
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-color: #f7f6f6;
}
html { scroll-behavior: smooth; }

body{
	overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}